body {
  margin: 0;
  font-family: Arial;
}

/* LOGIN */
.auth {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0b141a;
}

.box {
  background: #202c33;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.box input {
  display: block;
  width: 250px;
  margin: 10px 0;
  padding: 10px;
}

.box button {
  width: 100%;
  padding: 10px;
  background: #00a884;
  border: none;
  color: white;
}

/* MAIN */
.container {
  display: flex;
  height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 30%;
  background: #111b21;
  color: white;
  padding: 10px;
}

.userItem {
  padding: 10px;
  border-bottom: 1px solid #222;
}

/* CHAT */
.chat {
  width: 70%;
  display: flex;
  flex-direction: column;
}

/* HEADER */
.header {
  background: #202c33;
  color: white;
  padding: 10px;
}

/* BODY */
.body {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  background: #0b141a;
}

/* MESSAGE */
.msg {
  background: white;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  max-width: 60%;
}

.own {
  background: #005c4b;
  color: white;
  margin-left: auto;
}

/* FOOTER */
.footer {
  display: flex;
  padding: 10px;
  background: #202c33;
}

.footer input {
  flex: 1;
  padding: 10px;
}

.footer button {
  background: #00a884;
  border: none;
  color: white;
  padding: 10px;
}